<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamershaven.wechat.mapper.DesignResultMapper">

	<select id="get" resultType="com.dreamershaven.wechat.bean.DesignResultDO">
		select `id`,`user_id`,`username`,`in_pic_id`,`out_pic_id`,`pre_pic_id`,`eva_desc`,`gmt_create`,`status`,`mresult`,`lresult`,`aresult`,`disc_type`,`yvalue` from design_result where id = #{value}
	</select>
	
	
	

	<select id="list" resultType="com.dreamershaven.wechat.bean.DesignResultDO">
		select `id`,`user_id`,`username`,`in_pic_id`,`out_pic_id`,`pre_pic_id`,`eva_desc`,`gmt_create`,`status`,`mresult`,`lresult`,`aresult`,`disc_type`,`yvalue` from design_result
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="inPicId != null and inPicId != ''"> and in_pic_id = #{inPicId} </if>
		  		  <if test="outPicId != null and outPicId != ''"> and out_pic_id = #{outPicId} </if>
		  		  <if test="prePicId != null and prePicId != ''"> and pre_pic_id = #{prePicId} </if>
		  		  <if test="evaDesc != null and evaDesc != ''"> and eva_desc = #{evaDesc} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="mresult != null and mresult != ''"> and mresult = #{mresult} </if>
		  		  <if test="lresult != null and lresult != ''"> and lresult = #{lresult} </if>
		  		  <if test="aresult != null and aresult != ''"> and aresult = #{aresult} </if>
		  		  <if test="discType != null and discType != ''"> and disc_type = #{discType} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by gmt_create desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from design_result
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="username != null and username != ''"> and username = #{username} </if>
		  		  <if test="inPicId != null and inPicId != ''"> and in_pic_id = #{inPicId} </if>
		  		  <if test="outPicId != null and outPicId != ''"> and out_pic_id = #{outPicId} </if>
		  		  <if test="prePicId != null and prePicId != ''"> and pre_pic_id = #{prePicId} </if>
		  		  <if test="evaDesc != null and evaDesc != ''"> and eva_desc = #{evaDesc} </if>
		  		  <if test="gmtCreate != null and gmtCreate != ''"> and gmt_create = #{gmtCreate} </if>
		  		  <if test="status != null and status != ''"> and status = #{status} </if>
		  		  <if test="mresult != null and mresult != ''"> and mresult = #{mresult} </if>
		  		  <if test="lresult != null and lresult != ''"> and lresult = #{lresult} </if>
		  		  <if test="aresult != null and aresult != ''"> and aresult = #{aresult} </if>
		  		  <if test="discType != null and discType != ''"> and disc_type = #{discType} </if>
		  		</where>
	</select>
	
	<select id="countNums" resultType="com.dreamershaven.design.vo.DiscStatByDiscTypeVO">
		select count(id) num,disc_type from design_result group by disc_type;
	</select>
	
	<!--  
	<resultMap id="BaseResultMap" type="Map">
		<result column="disc_type" property="discTpye" jdbcType="String" />
		<result column="num" property="num" jdbcType="INTEGER" />
	</resultMap>
	-->
	
 
	 
	<insert id="save" parameterType="com.dreamershaven.wechat.bean.DesignResultDO" useGeneratedKeys="true" keyProperty="id">
		insert into design_result
		(
			`user_id`, 
			`username`, 
			`in_pic_id`, 
			`out_pic_id`, 
			`pre_pic_id`, 
			`eva_desc`, 
			`gmt_create`, 
			`status`, 
			`mresult`, 
			`lresult`, 
			`aresult`, 
			`disc_type`, 
			`yvalue`
		)
		values
		(
			#{userId}, 
			#{username}, 
			#{inPicId}, 
			#{outPicId}, 
			#{prePicId}, 
			#{evaDesc}, 
			#{gmtCreate}, 
			#{status}, 
			#{mresult}, 
			#{lresult}, 
			#{aresult}, 
			#{discType}, 
			#{yvalue}
		)
	</insert>
	 
	<update id="update" parameterType="com.dreamershaven.wechat.bean.DesignResultDO">
		update design_result 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="inPicId != null">`in_pic_id` = #{inPicId}, </if>
			<if test="outPicId != null">`out_pic_id` = #{outPicId}, </if>
			<if test="prePicId != null">`pre_pic_id` = #{prePicId}, </if>
			<if test="evaDesc != null">`eva_desc` = #{evaDesc}, </if>
			<if test="gmtCreate != null">`gmt_create` = #{gmtCreate}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="mresult != null">`mresult` = #{mresult}, </if>
			<if test="lresult != null">`lresult` = #{lresult}, </if>
			<if test="aresult != null">`aresult` = #{aresult}, </if>
			<if test="discType != null">`disc_type` = #{discType}</if>
			<if test="yvalue != null">`yvalue` = #{yvalue}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from design_result where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from design_result where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>