<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamershaven.wechat.mapper.DesignIncliedMapper">

	<select id="get" resultType="com.dreamershaven.wechat.bean.DesignIncliedDO">
		select `id`,`disc_type`,`kind_name`,`inclied`,`tagged`,`backup1`,`backup2` from design_inclied where id = #{value}
	</select>

	<select id="list" resultType="com.dreamershaven.wechat.bean.DesignIncliedDO">
		select `id`,`disc_type`,`kind_name`,`inclied`,`tagged`,`backup1`,`backup2` from design_inclied
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="discType != null and discType != ''"> and disc_type in  (${discType})   </if>
		  		  <if test="kindName != null and kindName != ''"> and kind_name = #{kindName} </if>
		  		  <if test="inclied != null and inclied != ''"> and inclied = #{inclied} </if>
		  		  <if test="tagged != null and tagged != ''"> and tagged = #{tagged} </if>
		  		  <if test="backup1 != null and backup1 != ''"> and backup1 = #{backup1} </if>
		  		  <if test="backup2 != null and backup2 != ''"> and backup2 = #{backup2} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from design_inclied
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="discType != null and discType != ''"> and disc_type = #{discType} </if>
		  		  <if test="kindName != null and kindName != ''"> and kind_name = #{kindName} </if>
		  		  <if test="inclied != null and inclied != ''"> and inclied = #{inclied} </if>
		  		  <if test="tagged != null and tagged != ''"> and tagged = #{tagged} </if>
		  		  <if test="backup1 != null and backup1 != ''"> and backup1 = #{backup1} </if>
		  		  <if test="backup2 != null and backup2 != ''"> and backup2 = #{backup2} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.dreamershaven.wechat.bean.DesignIncliedDO" useGeneratedKeys="true" keyProperty="id">
		insert into design_inclied
		(
			`disc_type`, 
			`kind_name`, 
			`inclied`, 
			`tagged`, 
			`backup1`, 
			`backup2`
		)
		values
		(
			#{discType}, 
			#{kindName}, 
			#{inclied}, 
			#{tagged}, 
			#{backup1}, 
			#{backup2}
		)
	</insert>
	 
	<update id="update" parameterType="com.dreamershaven.wechat.bean.DesignIncliedDO">
		update design_inclied 
		<set>
			<if test="discType != null">`disc_type` = #{discType}, </if>
			<if test="kindName != null">`kind_name` = #{kindName}, </if>
			<if test="inclied != null">`inclied` = #{inclied}, </if>
			<if test="tagged != null">`tagged` = #{tagged}, </if>
			<if test="backup1 != null">`backup1` = #{backup1}, </if>
			<if test="backup2 != null">`backup2` = #{backup2}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from design_inclied where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from design_inclied where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>