<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamershaven.wechat.mapper.OpenmyDefqueMapper">

	<select id="get" resultType="com.dreamershaven.wechat.bean.OpenmyDefqueDO">
		select `num_order`,`questions` from openmy_defque where num_order = #{value}
	</select>

	<select id="list" resultType="com.dreamershaven.wechat.bean.OpenmyDefqueDO">
		select `num_order`,`questions` from openmy_defque
        <where>  
		  		  <if test="numOrder != null and numOrder != ''"> and num_order = #{numOrder} </if>
		  		  <if test="questions != null and questions != ''"> and questions = #{questions} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by num_order desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from openmy_defque
		 <where>  
		  		  <if test="numOrder != null and numOrder != ''"> and num_order = #{numOrder} </if>
		  		  <if test="questions != null and questions != ''"> and questions = #{questions} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.dreamershaven.wechat.bean.OpenmyDefqueDO">
		insert into openmy_defque
		(
			`num_order`, 
			`questions`
		)
		values
		(
			#{numOrder}, 
			#{questions}
		)
	</insert>
	 
	<update id="update" parameterType="com.dreamershaven.wechat.bean.OpenmyDefqueDO">
		update openmy_defque 
		<set>
			<if test="questions != null">`questions` = #{questions}</if>
		</set>
		where num_order = #{numOrder}
	</update>
	
	<delete id="remove">
		delete from openmy_defque where num_order = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from openmy_defque where num_order in 
		<foreach item="numOrder" collection="array" open="(" separator="," close=")">
			#{numOrder}
		</foreach>
	</delete>

</mapper>