<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamershaven.wechat.mapper.OpenmyAnswerMapper">

	<select id="get" resultType="com.dreamershaven.wechat.bean.OpenmyAnswerDO">
		select `id`,`user_id`,`questions_id`,`answer`,`feedback_time`,`group_id` from openmy_answer where id = #{value}
	</select>

	<select id="list" resultType="com.dreamershaven.wechat.bean.OpenmyAnswerDO">
		select `id`,`user_id`,`questions_id`,`answer`,`feedback_time`,`group_id` from openmy_answer
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="questionsId != null and questionsId != ''"> and questions_id = #{questionsId} </if>
		  		  <if test="answer != null and answer != ''"> and answer = #{answer} </if>
		  		  <if test="feedbackTime != null and feedbackTime != ''"> and feedback_time = #{feedbackTime} </if>
		  		  <if test="groupId != null and groupId != ''"> and group_id = #{groupId} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from openmy_answer
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="questionsId != null and questionsId != ''"> and questions_id = #{questionsId} </if>
		  		  <if test="answer != null and answer != ''"> and answer = #{answer} </if>
		  		  <if test="feedbackTime != null and feedbackTime != ''"> and feedback_time = #{feedbackTime} </if>
		  		  <if test="groupId != null and groupId != ''"> and group_id = #{groupId} </if>
		  		</where>
	</select>
	
	<select id="maxGroupId" resultType="int">
		select max(group_id) from openmy_answer
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="questionsId != null and questionsId != ''"> and questions_id = #{questionsId} </if>
		  		  <if test="answer != null and answer != ''"> and answer = #{answer} </if>
		  		  <if test="feedbackTime != null and feedbackTime != ''"> and feedback_time = #{feedbackTime} </if>
		  		  <if test="groupId != null and groupId != ''"> and group_id = #{groupId} </if>
		  		</where>
	</select>
	
	
	 
	<insert id="save" parameterType="com.dreamershaven.wechat.bean.OpenmyAnswerDO" useGeneratedKeys="true" keyProperty="id">
		insert into openmy_answer
		(
			`user_id`, 
			`questions_id`, 
			`answer`, 
			`feedback_time`, 
			`group_id`
		)
		values
		(
			#{userId}, 
			#{questionsId}, 
			#{answer}, 
			#{feedbackTime}, 
			#{groupId}
		)
	</insert>
	 
	<update id="update" parameterType="com.dreamershaven.wechat.bean.OpenmyAnswerDO">
		update openmy_answer 
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="questionsId != null">`questions_id` = #{questionsId}, </if>
			<if test="answer != null">`answer` = #{answer}, </if>
			<if test="feedbackTime != null">`feedback_time` = #{feedbackTime}, </if>
			<if test="groupId != null">`group_id` = #{groupId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from openmy_answer where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from openmy_answer where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>