<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dreamershaven.wechat.mapper.SwitchMapper">

	<select id="get" resultType="com.dreamershaven.wechat.bean.SwitchDO">
		select `keyvalue`,`id`,`keyname`,`isopen` from sys_switch where id = #{value}
	</select>

	<select id="list" resultType="com.dreamershaven.wechat.bean.SwitchDO">
		select `keyvalue`,`id`,`keyname`,`isopen` from sys_switch
        <where>  
		  		  <if test="keyvalue != null and keyvalue != ''"> and keyvalue = #{keyvalue} </if>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="keyname != null and keyname != ''"> and keyname = #{keyname} </if>
		  		  <if test="isopen != null and isopen != ''"> and isopen = #{isopen} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from sys_switch
		 <where>  
		  		  <if test="keyvalue != null and keyvalue != ''"> and keyvalue = #{keyvalue} </if>
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="keyname != null and keyname != ''"> and keyname = #{keyname} </if>
		  		  <if test="isopen != null and isopen != ''"> and isopen = #{isopen} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.dreamershaven.wechat.bean.SwitchDO" useGeneratedKeys="true" keyProperty="id">
		insert into sys_switch
		(
			`keyvalue`, 
			`keyname`, 
			`isopen`
		)
		values
		(
			#{keyvalue}, 
			#{keyname}, 
			#{isopen}
		)
	</insert>
	 
	<update id="update" parameterType="com.dreamershaven.wechat.bean.SwitchDO">
		update sys_switch 
		<set>
			<if test="keyvalue != null">`keyvalue` = #{keyvalue}, </if>
			<if test="keyname != null">`keyname` = #{keyname}, </if>
			<if test="isopen != null">`isopen` = #{isopen}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="updateOpenState" parameterType="com.dreamershaven.wechat.bean.SwitchDO">
		update sys_switch 
		<set>
			<if test="isopen != null">`isopen` = #{isopen}</if>
		</set>
		where keyvalue = #{keyvalue}
	</update>
	
	<delete id="remove">
		delete from sys_switch where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from sys_switch where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>